{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "electron": "1.8"
        }
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es"
      }
    ]
  ]
}
